# Keil C51 Build Artifacts
*.bak
*.ddk
*.edk
*.lnp
*.lst
*.m51
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.sbr
*.tmp
*.__i
*._ia

# Keil GUI / User layout files (keep .uvproj, ignore local window states)
*.uvgui*
*.uvopt*
*.Opt
*.Uv2.bak

# debug information files
*.dwo
